.employee-form {
    border-style: solid;
    /* margin-bottom: 10px; */
    /* margin-left: 10px; */
    padding: 10px;
    /* width: 50%; */
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    /* padding: 10px; */
}

.employees-table {
    border-style: solid;
    /* margin-bottom: 10px; */
    /* margin-left: 10px; */
    padding: 20px;
    /* width: 50%; */
    margin: auto;
    width: 70%;
    /* border: 3px solid green; */
    /* padding: 10px; */
}

body > table{
    width: 80%;
}

table{
    border-collapse: collapse;
}
table.list{
    width:100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: black;
    color: white;
    padding: 10px 18px;
    /* margin: 0px 0; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}








*{
    padding: 0;
    margin: 0;
}
body{
    margin: 50px;
}
main{
    widows: 70%;
    height: auto;
    padding: 20px;
    margin: 50px auto;
    background: whitesmoke;
    font-family: system-ui;
    color: #666;
}
.header{
    width: 90%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items-controller,

select{
     padding: 2px;
    margin: 0 10px;
       outline: none;
    cursor: pointer;
    border: none;
    background: transparent;
}
 

.field{
    width: 90%;
    height: auto;
    margin: auto;
}
table{
    width: 100%;
    margin: 2px auto;
    table-layout: auto;
    color: #757575;
    background-color: #ffff;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
}
table tr th, td{
    padding: 10px;
    border: 1px solid #ccc;
}
.bottom-field{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination li{
  list-style: none;
  padding: 2px;
  margin: 10px;
  flex-shrink: 0;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #999;
  color: #999;
}
.pagination li.active{
  background: #32d6aa;
  color: white;
  border-color: #32d6aa;

}
.pagination li a{
  text-decoration: none;
  padding: 3px 8px;
  color: inherit;
  display: block;
  font-family: sans-serif;
  font-size: 13px;
}
i.fa-edit{color: lime;}
i.fa-trash{color: red;}
.widt{
    align-items: center;
    justify-content: center;
    width: 30%;
}

@media (max-width:450px) {
    .widt{
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    }